

#final .content-container {

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);

  .title,
  .subtitle {
    
    text-align: center;
    text-transform: uppercase;
    margin: 16px 0;
    font-size: 20px;
    letter-spacing: 2px;
    
  }

  .logo {

    display: block;
    position: relative;
    width: 360px; height: 96px;
    background-color: $primary;

    .cross {

      display: none;
      position: absolute;
      top: 4px; right: -18px;
      z-index: 9;

      &:before,
      &:after {

        display: block;
        content: '';

        position: absolute;
        top: 0; left: 0;
        transform: translate(-50%,-50%);

        width: 8px; height: 32px;
        background-color: $secondary;

      }

      &:before { transform: translate(-50%,-50%) rotate(-45deg); }
      &:after { transform: translate(-50%,-50%) rotate(45deg); }

    }

    .logo-inner {

      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);

      color: $accent;
      font-size: 32px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;

    }

    &:before,
    &:after {

      content: '';
      display: block;

      position: absolute;
      top: 0;

      border: 12px solid $primary;
      border-top-width: calc(96px / 2);
      border-bottom-width: calc(96px / 2);

    }

    &:before {

      left: -24px;
      border-left-color: transparent;
      border-top-color: transparent;

    }

    &:after {

      right: -24px;
      border-right-color: transparent;
      border-bottom-color: transparent;

    }

  }

}