

@keyframes breathe {
  0% { background-size: 151%; }
  50% { background-size: 156%; }
  100% { background-size: 151%; }
}

#home {

  .background,
  .foreground {

    position: absolute;
    top: 32px; left: 32px;
    width: calc(100% - 64px);
    height: calc(100% - 64px);

    transform-origin: center;


    #bg, #fg {

      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;

    }

    .image {
      
      position: absolute;
      bottom: 280px; left: 50%;
      transform: translateX(-50%) rotate(180deg);

      width: 256px;
      height: 256px;
      background-position: center;
      background-size: cover;
      z-index: 0;

      // animation: breathe 3000ms $transbase infinite;

    }

    .navelem {

      position: absolute;
      left: 50%; transform: translateX(-50%);
      font-size: 64px;
      font-weight: 900;
      text-transform: uppercase;
      white-space: nowrap;
      color: transparent;

      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $primary;

      &.emi { bottom: 270px; }
      &.env { bottom: 188px; }
      &.emi .overlay:before { content: 'Drop indvandre sludren'; }
      &.env .overlay:before { content: 'Igangsæt miljø debatten'; }
      
      .overlay {

        position: absolute;
        bottom: 24px; left: 50%;
        transform: translateX(-50%);
        width: 100%; height: 0;  

        overflow: hidden;
        transition: 300ms $transbase;
        
        &:before {

          display: block;
          position: absolute;
          bottom: -24px; left: 50%;
          transform: translateX(-50%);
          font-size: 64px;
          font-weight: 900;
          text-transform: uppercase;
          white-space: nowrap;
          color: $primary;
          z-index: 0;

          transition: 120ms $bouncytrans;

        }

      }

      &:hover .overlay {

        height: calc(100% - 48px);

      }

      &:active .overlay:before {
        
        color: lighten($primary, 5%);

      }

    }

  }

  .texture {

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 120%; height: 120%;

    background-size: 200px;
    filter: grayscale(100%);
    opacity: .15;

    pointer-events: none;

    display: none;

  }

}